// bower:scss
// endbower

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.container {
    min-width: 100%;
    min-height: 100%;

    .slide {
        top: 20px;
        bottom: 20px;
        left: 20px;
        right: 20px;
        position: absolute;
        padding: 20px;

        background-color: #50C63D;
        color: white;
        display: flex;

        .content {
            text-align: center;
        }

        h1 {

        }
    }
}
